<a href="https://colab.research.google.com/github/raulpacheco2k/Sigmoidal-Python-Do-Zero/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas
A lista é uma estrutura de dados poderosa por isso é uma das estruturas mais utilizadas em Python, podemos armazenas uma série de itens em um mesmo escopo utilizando listas.

Aqui devemos algumas formas de manipular uma lista, desde declarar uma lista até realizar manipulações mais complexas.

## Declaração
Existe duas formas de declarar uma lista em Python:

In [26]:
primeiraLista = []
segundaLista = list()

No bloco de código acima mostramos quais são as formas de declarar uma lista em Python, essas duas formas ira disponibilizar a mesma forma de trabalhar, não há divergência entre elas, exceto sua declaração. 

Fica a critério do desenvolver escolher qual forma ele prefere. Quando estamos trabalhando em um projeto já em andamento devemos manter o padrão do projeto e trabalhar em cima da forma que já foi estabelecida como padrão.

No bloco de texto abaixo que a estrutura de dados é realmente a mesma.

In [27]:
if type(segundaLista) == type(primeiraLista):
  print("A estrutura de dados é a mesma entre as duas variáveis!")
else:
  print("As duas variáveis tem estrutura de dados diferentes!")

A estrutura de dados é a mesma entre as duas variáveis!

Como já dito anteriormente, com listas podemos armazenas uma série de itens no mesmo escopo, lista em Python são homogênea, ou seja, podemos armazenar dentro de uma lista elementos de tipo distintos, inclusive listas dentro de listas recursivamente. Podemos declarar uma lista já contendo conteúdo ou podemos atribuir conteúdo a lista durante a execução do programa, ou seja, listas são mutáveis.

No bloco de código abaixo iremos visualizar como criamos uma lista com conteúdo já atribuídos.

A lista variável `cars` irá listar [os carros mais populares por estado nos Estados Unidos](https://insurify.com/insights/most-popular-cars-by-state-2020/)

In [44]:
cars = ["Honda Accord", "Chevrolet Malibu", "Honda Civic", "Chevrolet Impala", "Ford Focus", "Toyota Corolla", "Subaru Impreza"]
print(cars)

['Honda Accord', 'Chevrolet Malibu', 'Honda Civic', 'Chevrolet Impala', 'Ford Focus', 'Toyota Corolla', 'Subaru Impreza']

Se tentarmos atribuir um novo valor para a lista de maneira convencional iremos acabar substituindo todos os outros valores.

In [45]:
cars = "Ford Explorer"
print(cars)

Ford Explorer

In [51]:
# Devolvendo os valores originais
cars = ["Honda Accord", "Chevrolet Malibu", "Honda Civic", "Chevrolet Impala", "Ford Focus", "Toyota Corolla", "Ford Explorer"]

Podemos adicionar valores a uma lista de uma maneira menos convencional e mais complicada através da busca do último elemento da lista e depois inserimos o valor desejado um índex a frente do último item da lista.

In [52]:
cars[len(cars):] = ["Subaru Impreza"]
print(cars[-1])

Subaru Impreza

Uma maneira mais elegante de realizar o bloco de texto acima é através da função `append()` que abstrai o processo e torna o fluxo mais simplificado. Atráves da função append iremos adicionar um valor na última posíção, assim como ocorreu no bloco de código anterior.

In [53]:
cars.append("Toyota RAV4")

Se a vontade seja atribuir um valor em determinada posição devemos utilizar a função `insert()`, onde o primeiro parâmetro será a posição desejada da lista, já a segunda será o valor que queremos adicionar na lista.

In [54]:
cars.insert(0, "Nissan Altima")

In [55]:
for index, car in enumerate(cars, 1):
  print(f"TOP {index}: {car}")

TOP 1: Nissan Altima
TOP 2: Honda Accord
TOP 3: Chevrolet Malibu
TOP 4: Honda Civic
TOP 5: Chevrolet Impala
TOP 6: Ford Focus
TOP 7: Toyota Corolla
TOP 8: Ford Explorer
TOP 9: Subaru Impreza
TOP 10: Toyota RAV4