<a href="https://colab.research.google.com/github/raulpacheco2k/Sigmoidal-Python-Do-Zero/blob/main/Identificando_valores_duplicados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [37]:
df = pd.read_excel('/content/contas_a_pagar.xlsx')

In [38]:
df.head()

   pagamento    valor  codigo_pagamento
0  imposto x   458.86      123456789012
1  imposto y   467.69      123456789012
2  imposto z    25.15      555444332221
3       agua   951.31      568754456745
4        luz  1548.25      546982454523

In [39]:
print(f"Quantida de linhas: {df.shape[0]}")

Quantida de linhas: 9

In [40]:
df['codigo_pagamento'].value_counts()

546982454123    2
123456789012    2
546982454523    2
555444332221    1
568754456745    1
364821542215    1
Name: codigo_pagamento, dtype: int64

In [41]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
dtype: bool

In [42]:
df.duplicated(subset='codigo_pagamento')

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool

In [43]:
df.drop_duplicates(subset='codigo_pagamento', inplace=True)

In [44]:
print(f"Quantida de linhas: {df.shape[0]}")

Quantida de linhas: 6

In [45]:
df['codigo_pagamento'].value_counts()

364821542215    1
555444332221    1
546982454523    1
568754456745    1
123456789012    1
546982454123    1
Name: codigo_pagamento, dtype: int64